body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}
body.dark-theme {
    background-color: #222;
    color: white;
}

body.dark-theme nav {
    background: #444;
}

body.dark-theme .btn {
    color: white;
}

.bubble {
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
    animation: bubble-animation 15s infinite;
}

@keyframes bubble-animation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-600px);
        opacity: 0;
    }
}

/* Create bubbles */
.bubble:nth-child(1) {
    width: 60px;
    height: 60px;
    background: rgba(255, 0, 0, 0.5);
    left: 20%;
    animation-delay: 0s;
}

.bubble:nth-child(2) {
    width: 80px;
    height: 80px;
    background: rgba(0, 255, 0, 0.5);
    left: 50%;
    animation-delay: 2s;
}

.bubble:nth-child(3) {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 255, 0.5);
    left: 70%;
    animation-delay: 4s;
}

.bubble:nth-child(4) {
    width: 70px;
    height: 70px;
    background: rgba(255, 255, 0, 0.5);
    left: 30%;
    animation-delay: 6s;
}

.bubble:nth-child(5) {
    width: 90px;
    height: 90px;
    background: rgba(255, 165, 0, 0.5);
    left: 10%;
    animation-delay: 8s;
}
form {
    border-radius: 25px solid #23830b;
    display: flex;
    flex-direction: column;
    /* background: #4d2a2a; */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #5cb85c;
    color: white;
    padding: 10px;
    width: 80px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #9244aa;
}

#message {
    text-align: center;
    margin-top: 20px;
}

/* ............ */
.account-link {
    text-align: center; /* Center the text */
    margin-top: 20px; /* Space above the text */
}

.account-link p {
    margin: 0; /* Remove default margin */
}

.account-link a {
    color: blue; /* Change the link color */
    text-decoration: underline; /* Underline the link */
}
